{% extends 'dashboard/dashboardbase.html.twig' %}

{% block panel %}

<div class="dashboard-subheader">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-container">
          <span class="breadcrumb">FAQ's</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-panels">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-panel-block">
          FAQ's go here. Any questions just ask.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
