{% extends 'dashboard/dashboardbase.html.twig' %}

{% block panel %}

<div class="dashboard-subheader">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-container">
          <span class="breadcrumb">Logs</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-panels">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-panel-block">
          <div class="log-viewer">

          {% for line in logData %}

            {% if line.type == 'debug' %}
              {% set lineClass = 'log-row-debug' %}
            {% elseif line.type == 'error' %}
              {% set lineClass = 'log-row-error' %}
            {% elseif line.type == 'critical' %}
              {% set lineClass = 'log-row-critical' %}
            {% elseif line.type == 'info' %}
              {% set lineClass = 'log-row-info' %}
            {% else %}
              {% set lineClass = 'log-row-d' %}
            {% endif %}

            <div class="log-row {{ lineClass }}">
              <span class="log-icon"></span>
              <div class="log-description">
                <span class="log-datetime">{{ line.time }}</span>
                <span class="log-message">{{ line.component }}: {{ line.message }}</span>
              </div>
            </div>

          {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
