//purple theme default, no specific overrides

.theme-blue{
  .dashboard-header{
    background: #517fa4;
    background: linear-gradient(to right, #243949 0%, #517fa4 100%);
  }

  .widget-selector-item-inner{
    color: #00578a;
  }

  .widget-selector-item-inner:hover{
    color: #243949;
  }

  .separator{
    border-color: #005ab7d1;
  }
}

.theme-white{
  .dashboard-header{
    background: #fff;
  }

  .quicklink,
  .profile-name{
    color: #333;
  }

  .dashboard-logo{
    color: #333;
  }

  .dashboard-quicklinks .quicklink:hover{
    color: #000;
  }
}
