<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Signal - User Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {{ encore_entry_link_tags('dashboard') }}
  </head>
  <body class="dashboard-login">
    <div class="login-form-wrapper">
      <form method="post" class="login-form">

        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h3 class="login-description">Log in to dashboard</h3>
        <h3 class="login-title">Signal</h3>
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" class="form-control"/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" class="form-control"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary btn-large">Login</button>

        {% if config.enableSaml2Login %}
          <a href="/dashboard/samllogin">SSO Login</a>
        {% endif %}

      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ encore_entry_script_tags('dashboard') }}
  </body>
</html>
