{% extends 'dashboard/dashboardbase.html.twig' %}

{% block panel %}

<div class="dashboard-subheader">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-container">
          <span class="breadcrumb">Subscriptions</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-panels">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-12">
        <table id="subscription-view-table" class="stripe hover">
          <thead>
            <tr>
              <th>Email</th>
              <th>Subscribed</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for subscription in subscriptions %}
            <tr data-id="{{ subscription.guid }}">
              <td>{{ subscription.email }}</td>
              <td>{{ subscription.created|date("m/d/Y g:ia") }}</td>
              <td>
                <button class="btn btn-error pull-right btn-delete">Delete</button>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

{% endblock %}
