<div class="dashboard-header">
  <a class="dashboard-logo" href="/">
    <i class="logo-icon fas fa-wifi"></i>
    <span class="logo-text">Signal</span>
  </a>
  <div class="dashboard-profile">
    <span class="profile-name">{{ app.user.fullName }}</span>
    <img class="profile-avatar" src="{{ app.user.gravatar }}">
    <div class="profile-menu">
      <h4>{{ app.user.fullName }}</h4>
      <a href="/dashboard/account">Account</a>
      <a href="https://github.com/dustinscarberry/signal">Help</a>
      <a href="/dashboard/about">About</a>
      <span class="separator"></span>
      <a href="/dashboard/logout">Sign Out</a>
    </div>
  </div>
  <div class="dashboard-quicklinks">
    <a class="quicklink fas fa-desktop" href="/"></a>
    <a class="quicklink fas fa-question" href="https://github.com/dustinscarberry/signal"></a>
    <a class="quicklink fas fa-info-circle" href="/dashboard/about"></a>
    <span class="separator"></span>
  </div>
</div>
