<div class="dashboard-tray">
  <nav class="dashboard-menu">
    <ul>
      <li class="tooltip" data-tippy-content="Dashboard">
        <a class="menu-icon menu-icon-grid" href="/dashboard">Dashboard</a>
      </li>
      <li class="tooltip" data-tippy-content="Services">
        <a class="menu-icon menu-icon-service" href="/dashboard/services">Services</a>
      </li>
      <li class="tooltip" data-tippy-content="Service Categories">
        <a class="menu-icon menu-icon-services" href="/dashboard/servicecategories">Categories</a>
      </li>
      <li class="tooltip" data-tippy-content="Incidents">
        <a class="menu-icon menu-icon-issues" href="/dashboard/incidents">Incidents</a>
      </li>
      <li class="tooltip" data-tippy-content="Maintenance">
        <a class="menu-icon menu-icon-maintenance" href="/dashboard/maintenance">Maintenance</a>
      </li>
      <li class="tooltip" data-tippy-content="Statuses">
        <a class="menu-icon menu-icon-status has-submenu" href="#">Statuses</a>
        <ul class="sub-menu">
          <li>
            <a class="menu-icon menu-icon-servicestatus" href="/dashboard/statuses/service">Service</a>
          </li>
          <li>
            <a class="menu-icon menu-icon-incidentstatus" href="/dashboard/statuses/incident">Incident</a>
          </li>
          <li>
            <a class="menu-icon menu-icon-maintenancestatus" href="/dashboard/statuses/maintenance">Maintenance</a>
          </li>
        </ul>
      </li>
      <li class="tooltip" data-tippy-content="Custom Metrics">
        <a class="menu-icon menu-icon-metrics" href="/dashboard/custommetrics">Custom Metrics</a>
      </li>
      <li class="tooltip" data-tippy-content="Users">
        <a class="menu-icon menu-icon-users" href="/dashboard/users">Users</a>
      </li>
      <li class="tooltip" data-tippy-content="Subscriptions">
        <a class="menu-icon menu-icon-subscription" href="/dashboard/subscriptions">Subscriptions</a>
      </li>
      <li class="tooltip" data-tippy-content="Settings">
        <a class="menu-icon menu-icon-settings" href="/dashboard/settings">Settings</a>
      </li>
      <li class="tooltip" data-tippy-content="Logs">
        <a class="menu-icon menu-icon-logs" href="/dashboard/logs">Logs</a>
      </li>
    </ul>
  </nav>
  <button class="dashboard-nav-pin-btn"></button>
</div>
