{% import 'mail/macros.html.twig' as macros %}

{{ macros.spacer('25px', 'transparent') }}
<table {{ blockWhiteStyles|raw }}>
  <tr>
    <td>
      <a href="#" title="Header">
        <img src="{{ config.siteUrl }}/static/images/email-header.png" width="600" style="display: block; padding: 0px; text-align: center; height: auto; width: 100%; border: 0px;">
      </a>
    </td>
  </tr>
</table>
