{% macro spacer(height, background) %}
  <table style="border-collapse:collapse;border-spacing:0;padding:0;width:100%;background-color:{{ background }};" bgcolor="{{ background }}">
    <tr style="padding:0;">
      <td height="25px" style="font-size: 25px;line-height: 25px;margin: 0px;padding: 0px;border-collapse: collapse;">
        &nbsp;
      </td>
    </tr>
  </table>
{% endmacro %}
